@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap');

body{
    font-family: "Reddit Sans Condensed", sans-serif;
    font-size: 16px;
}


h2 {
    font-family: "Roboto", sans-serif;   
}
}


h5{
    display: flex;
    align-items: center;
}


.imgcentro{
    display: flex;
    align-items: center;
}


