@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap');



h2 {
    font-size: 50px;
    font-family: "Roboto", sans-serif;

    font-family: "Reddit Sans Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
}


h5{
    display: flex;
    align-items: center;
}


.imgcentro{
    display: flex;
    align-items: center;
}

